@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(67, 87, 100);
}

button {
  border: none;
  outline: none;
}

body {
  height: 100vh;
  min-width: 100%;
  background-color: #d4e2e5;
}

.body__img-container {
  background-image: url(https://images.unsplash.com/photo-1631264508765-b49496f3f45d?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  height: calc(100vh + 70px);
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67%;
  height: 70px;
  margin: 0 auto;
}

.nav__logo {
  font-size: 1.7rem;
  font-weight: 700;
}

.nav__links {
  font-size: 1.2rem;
  display: flex;
  gap: 3rem;
}

.nav__links a {
  cursor: pointer;
}

.nav__btn {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 121, 129, 0.384);
  border-radius: 20px;
}

.nav__btn:hover {
  scale: 1.1;
  background-color: rgba(1, 177, 162, 0.582);
  transition: all 1s ease;
}

.nav__btn:active {
  scale: 0.9;
  transition: all 0.2s ease;
}

/* main */

#main__hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(40 54 65);
}

#main__hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

#main__hero p {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

#main__hero p:first-of-type {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

/* products grid */

#main__products {
  height: 100vh;
  width: 90%;
  margin: 5rem auto;
}

.main__products-title {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  color: rgb(63, 93, 119);
}

.main__products-grid {
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 4%;
  row-gap: 8%;
}

.main__item {
  border-radius: 20px;
  background-position: center center;
  background-size: cover;
}

.main__item:hover {
  scale: 1.04;
  transition: all 0.3s ease;
}

#coffee1 {
  background-image: url(/imgsrc/coffee1.avif);
}

#coffee2 {
  background-image: url(/imgsrc/coffee2.avif);
}

#coffee3 {
  background-image: url(/imgsrc/coffee3.avif);
}

#tea1 {
  background-image: url(imgsrc/tea1.avif);
}

#tea2 {
  background-image: url(imgsrc/tea2.avif);
}

#tea3 {
  background-image: url(imgsrc/tea3.jpg);
}

/* footer */

footer {
  height: 100vh;
  margin-top: 5rem;
  background-color: #273132;
  padding-bottom: 5rem;
}

.footer__contact-us {
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
  font-size: 2.5rem;
  color: #d4e2e5;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer__contacts-block {
  width: 33%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 2rem;
}

.footer__contacts-block a {
  color: #d4e2e5;
}

.footer__contacts-block a:hover {
  scale: 1.1;
  transition: all 0.3s ease;
}

.footer__separator {
  width: 0.2rem;
  height: 30vh;
  border-radius: 60%;
  align-self: center;
  background-color: #767e80;
}

.footer__separator__mobile {
  display: none;
  width: 50vh;
  height: 0.2rem;
  border-radius: 60%;
  align-self: center;
  background-color: #767e80;
}

.footer__map-btn {
  display: none;
}

.footer__map {
  width: 33%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__map iframe {
  border-radius: 20px;
  aspect-ratio: 5/3;
  width: 100%;
}

/* responsive design */

@media (max-width: 992px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding-top: 2rem;
  }

  .nav__links {
    width: 70vh;
    display: flex;
    justify-content: space-around;
  }

  .nav__btn {
    display: none;
  }

  .main__products-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  footer {
    height: 100vh;
  }

  .footer__contact-us {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .footer__separator {
    display: none;
  }

  .footer__separator__mobile {
    display: block;
  }

  .footer__info {
    height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
  }

  .footer__map {
    background: url(https://blog.spoongraphics.co.uk/wp-content/uploads/2016/09/thumbnail-1.png);
    background-color: rgba(0, 0, 0, 0.473);
    background-blend-mode: darken;
    min-height: 30%;
    width: 70%;
    border-radius: 20px;
  }

  .footer__map-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: rgb(0, 120, 129);
    border-radius: 20px;
  }

  .footer__map-btn a {
    color: #d4e2e5;
  }

  .footer__map iframe {
    display: none;
  }
}

@media (max-width: 420px) {
  .nav__logo {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .nav__links {
    display: none;
  }

  #main__hero h1 {
    font-size: 2.1rem;
  }

  #main__hero p:first-of-type {
    font-size: 1rem;
  }

  #main__hero p {
    font-size: 1rem;
  }

  #main__products {
    height: 100vh;
    width: 90%;
    margin: 3rem auto;
  }

  .main__products-title {
    margin-bottom: 3rem;
    font-size: 2rem;
    color: rgb(63, 93, 119);
  }

  footer {
    height: 120vh;
    margin-top: 2rem;
    padding-bottom: 5rem;
  }

  .footer__contact-us {
    font-size: 2rem;
    padding-top: 3rem;
  }

  .footer__info {
    height: calc(120vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
  }

  .footer__contacts-block {
    font-size: 1.2rem;
  }
}
